body {
    background: linear-gradient(lightblue, #ebb5bf);
	background-attachment: fixed;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    color: #ffffff;
    background-color: #e7b7c2;
}

.bg-body-tertiary {
    background-color: unset !important;
}

.navbar-brand {
    font-variant: small-caps;
    color: white;
    font-size: 24px;
}

.nav-item {
    border-bottom: 1px solid #ffffff;
    border-radius: 5px;
    margin: 0 20px;
}

.navbar-nav li a {
    color: #ffffff;
}

.container-box {
	width: 90%;
    max-width: 1080px;
    margin: auto;
}

.container-box h1 {
    margin: 30px;
}

.container-box img {
    margin: 10px;
}

.text-card {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 25px;
    padding: 25px;
    margin: 30px auto;
    background-color: #42424266;
}

.form-card {
	border-radius: 10px;
    margin: 20px auto;
    width: 50%;
    max-width: 540px;
    padding: 5px 20px;
    word-wrap: break-word;
}

.contact-form {
    margin: 50px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
    min-height: 550px;
    padding: 20px;
    background: url("images/me.jpg") no-repeat;
    background-size: 100%;
}

.form-item {
    display: flex;
    margin: 20px 0;
}

.form-item-label {
    flex: 1;
    text-align: right;
    margin-right: 20px;
    line-height: 50px;
}

.form-item-input {
    flex: 1 1 auto;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    outline: none;
    color: #000000;
    margin: 0 5px;
}

.form-item-btn {
    margin-top: 20px;
    padding: 10px;
    width: 350px;
    color: #ffffff;
    background: #61d641;
    border: 1px solid #2cb423;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}
